* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    background-color: orangered;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    height: 150px;
    text-align: center;

}

.bars {
    border: 1px dashed black;
    width: 20%;
    padding: 3rem;
    margin: 0rem;



}

.barslogo {
    border: 1px dashed black;
    padding: 1rem;
    margin: 0rem;
    width: 40%;
}



.barsitem {
    border: 1px dashed black;
    padding: 3rem;
    width: 20%;
    margin: 0rem;
}

.logo {
    width: 50%;
    height: 50%;
}
.container{
    margin: auto;
    max-width: 1152px;
    width: 100%;
}
    
.album{
    display: flex;

    
}
.col1 {
    width: calc(100% / 12 * 4);
    padding: 2rem;
    border: 1px dashed black;
    margin: 1rem;
    

}
.card{
    position: relative;
    background-color: #eeee;
    color: white;
   
}

img{
    max-width: 100%;
}
.bage{
    position:absolute;
    bottom: 80px;
    left: 0;
    background-color: red;   
}

.bage_green{
    position:absolute;
    bottom: 80px;
    left: 40px;
    background-color: green;
}



.heart{
    color:black;
    position:absolute;
    top: 20px;
    right: 0px;
    background-color: white;
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 30px;
   
}
.dress_name{
    color: black;
}
.card:hover .heart{
    display: block;
    color: red;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: url(./img/1b.webp);
    background-size: cover;
}
.container:hover .overlay {
    opacity: 1;}
